$corCinza01: #333;
$corCinza02: rgb(135, 129, 129);
$corCinza03: rgba(204, 204, 204, 0.287);
$corBranco: #fff;
$corAzul01: #0071e3;
$corAzul02: #005be3;
$corGreen: #394c38;
$corSilver: #f1f2ed;
$corGolden: #fae7cf;
$corgrafite: #54524f;
$corblue: #a7c1d9;
